<div id="example">
	<table id="grid">
		<colgroup>
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
		</colgroup>
		<thead>
			<tr>
				<th>Left-Description</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th>Right-Description</th>
				<th></th>
				<th></th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngFor="let parent of obj_data1">
				<tr>
					<td>{{parent.name}}</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>
						<i
            (click)="parentCheckExpandCollapse[i]=!parentCheckExpandCollapse[i]" (click)="ChildExpandCollapse(parentCheckExpandCollapse[i],i)"
            [ngClass]="parentCheckExpandCollapse[i] ?  'fa fa-plus-square': 'fa fa-minus-square'"
          ></i>&nbsp;{{parent.description}}
					</td>
					<td></td>
					<td></td>
					<td>{{parent.total}}</td>
				</tr>
				<ng-container *ngFor="let child of parent.child;let j=index">
					<tr>
						<td style="text-align:center">{{child.name}}</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td *ngIf="!parentCheckExpandCollapse[i]"> <i
         (click)="childCheckExpandCollapse[j]=!childCheckExpandCollapse[j]"      (click)="SubChildExpandCollapse(childCheckExpandCollapse[j],test[j].subchild)"
            [ngClass]="childCheckExpandCollapse[j] ?  'fa fa-plus-square': 'fa fa-minus-square'"
          ></i>&nbsp;<i class="fa fa-square">&nbsp;{{child.description}}</i>
						</td>
						<td></td>
						<td></td>
						<td *ngIf="!parentCheckExpandCollapse[i]">&nbsp;{{child.total}}</td>
					</tr>
					<tr *ngFor="let subchild of child.subchild;let k=index">
						<td style="text-align:right">{{subchild.name}}</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td *ngIf="!childCheckExpandCollapse[j]">
							<i class="fa fa-circle">{{subchild.description}}</i>
						</td>
						<td></td>
						<td></td>
						<td *ngIf="!childCheckExpandCollapse[j]">&nbsp;{{subchild.price}}</td>
					</tr>
				</ng-container>
			</ng-container>
		</tbody>
	</table>
</div>