<div id="example">
  <table id="grid">
    <colgroup>
      <col />
      <col />
      <col style="width:110px" />
      <col style="width:120px" />
      <col style="width:130px" />
    </colgroup>
    <thead>
      <tr>
        <th data-field="make">Car Make</th>
        <th data-field="model">Car Model</th>
        <th data-field="year">Year</th>
        <th data-field="category">Category</th>
        <th data-field="airconditioner">Air Conditioner</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Volvo</td>
        <td>S60</td>
        <td>2010</td>
        <td>Saloon</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Audi</td>
        <td>A4</td>
        <td>2002</td>
        <td>Saloon</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>BMW</td>
        <td>535d</td>
        <td>2006</td>
        <td>Saloon</td>
        <td>Yes</td>
      </tr>
    </tbody>
  </table>
</div>
